@page
@model KeelepuristMain.EtteytlusModel
@{
    ViewData["Title"] = "etteytlus";
    
}

<h1>etteytlus</h1>

<audio autoplay>
    <source src="~/StaticContent/soundpack/@Model.WavFileString" type="audio/wav" />
</audio>

<form method="post">
    <div>
        <label>Sõna: </label>
        <input class='@(Model.BlankSpace.UserAnsweredRight ? "text-info" : "")' type="text" asp-for="BlankSpace.UserAnswer" value="@Model.BlankSpace.UserAnswer" />
    </div>
    <input type="hidden" asp-for="WordId" value="@Model.WordId" />
    <input type="hidden" asp-for="WavFileString" value="@Model.WavFileString" />
    <input type="hidden" asp-for="BlankSpace.CorrectAnswers" value='@string.Join("\t", Model.BlankSpace.CorrectAnswers)' />
    <input class="btn btn-primary" type="submit" value="Sisesta" />
</form>
<a class="btn btn-info" asp-page="./Etteytlus">Uus sõna</a>
