@page
@model KeelepuristMain.AdminTestEditorModel
@{
    ViewData["Title"] = "AdminTestEditor";
}

<h1>Kontrolltöö redaktor</h1>

<form method="post">
    <div class="form-group">
        @if (string.IsNullOrWhiteSpace(Model.TestName))
        {
            <label for="TestName">Nimi:</label>
            <br />
            <input asp-for="@Model.TestName" />
        }
        else
        {
            <h4>Viimati muudetud: @Model.LastModified.ToLocalTime()</h4>
            <label for="TestName">Nimi:</label>
            <br />
            <input type="hidden" asp-for="@Model.TestName" />
            @Model.TestName
        }
    </div>
    <div class="form-group">
        <label for="TestContent">Sisu:</label>
        <br />
        <textarea rows="10" cols="100" asp-for="@Model.TestContent"></textarea>
    </div>
    <div class="form-group">
        <label for="IsPublic">Avalikustatud:</label>
        <input asp-for="@Model.IsPublic" />
    </div>
    <button class="btn btn-primary" type="submit" asp-page-handler="Update">
        <i class="material-icons" style="font-size:1em">publish</i>  Salvesta muudatused
    </button>
</form>
<form method="post">
    <div>
        <input type="hidden" asp-for="@Model.TestName" />
        <input type="hidden" asp-for="@Model.IsPublic" />
    </div>
    <button class="btn btn-danger" type="submit" asp-page-handler="Delete">
        <i class="material-icons" style="font-size:1em">delete_forever</i>  Kustuta
    </button>
</form>

<a class="btn btn-light" asp-page="./AdminTestGlossary">
    <i class="material-icons" style="font-size:1em">arrow_back</i>  Tagasi loendisse
</a>