@page
@model KeelepuristMain.AdminSubmittedTestDetailModel
@{
    ViewData["Title"] = "Esitatud Kontrolltöö Vaatamine";
    string[] blankSpaceContentArray = new string[2];
    string className = "";
    decimal correctAnswers = 0;
    decimal totalAnswers = 0;
}

<h1>Esitatud kontrolltöö vaatamine</h1>
<h4>Viimati muudetud: @Model.LastModified.ToLocalTime()</h4>

<div class="exercise-container">
    @for (var i = 0; i < Model.TestContentArray.Length; i++)
    {
        // Even numbers are always text
        if (i % 2 == 0)
        {
            <span>@Model.TestContentArray[i]</span>
        }
        // Odd numbers are always blank spaces
        else
        {
            blankSpaceContentArray = Model.TestContentArray[i].Split("|");
            if (blankSpaceContentArray[0] == "True")
            {
                totalAnswers += 1;
                correctAnswers += 1;
                className = "answer-correct";
            }
            else
            {
                totalAnswers += 1;
                className = "answer-wrong";
            }

            <input type="text"
                   class="@className"
                   value="@blankSpaceContentArray[1]"
                   size="@(blankSpaceContentArray[1].Length + 1)"
                   disabled />
        }
    }
</div>

@if (totalAnswers != 0)
{
    <p>
        @(Math.Round((correctAnswers / totalAnswers) * 100, MidpointRounding.AwayFromZero))% õigesti vastatud.
    </p>
}

<form method="post" onsubmit="return confirm('Kas soovite testisooritust igaveseks kustutada?');">
    <input type="hidden" asp-for="SubmissionName" />
    <button class="btn btn-danger" type="submit">
        <i class="material-icons" style="font-size:1em">delete_forever</i> Kustuta
    </button>
</form>

<a class="btn btn-light" asp-page="./AdminSubmittedTestsGlossary">
    <i class="material-icons" style="font-size:1em">arrow_back</i>  Tagasi loendisse
</a>